.museedesc::before {
    display: block;
    content: '';
    background-image: url(../../assets/images/coin_pattern_bg1.png),url(../../assets/images/coin_pattern_bg2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -350px -350px,1000px 400px;
    opacity: .15;
    height: 100%;
    width: 100%;
    position: absolute;
	z-index: 0;
}

.desc-margin {
	margin: 60px 30px;
}

.descpara {
	font-size: 1.3em;
}

.row {
	margin: 0px !important;
}

.galerie,
.galerietitle {
	margin-top: 5vh;
	margin-bottom: 5vh;
	width: 100%;
	position: relative;
}

.galerietitle::before {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	top: 17px;
}

.tumbwidth {
	padding: 1vh 15px;
	width: 20% !important;
	z-index: 9;
}

.changedirection {
	direction: rtl;
}

.fullwidth {
	width: 100%;
}

.title {
	background: #292525;
	position: relative;
	padding: 0 20px;
}

.thumbnailsDiv {
	width: calc(100% + 30px);
	margin: 0px 0 0 -15px !important;
}
