<!-- includes of poppup models -->
<app-musee-desc-img1></app-musee-desc-img1>


<div class="museedesc">

    <app-navbar (Currentlang)="getCurrentlang($event)"></app-navbar>
    <div class="desc-margin  animated fadeIn delay-01s" [ngClass]="{changedirection: currentlang === 'ar'}">
        <div class="row">

            <h1 [ngClass]="{ArabicExtraCondensedBold: currentlang === 'ar'}" class="ExtraCondensedBold">
                {{'museedesc.title' | translate}}</h1>
            <p [ngClass]="{ArabicExtraCondensedLight: currentlang === 'ar'}"
                class="text-justify ExtraCondensedLight descpara">
                {{'museedesc.firstparagraphe' | translate}}

            </p>
            <p [ngClass]="{ArabicExtraCondensedLight: currentlang === 'ar'}"
                class="text-justify ExtraCondensedLight descpara">
                {{'museedesc.secondparagraph' | translate}}
            </p>
        </div>

        <div class="galerie">
            <div class="text-center">
                <h4 [ngClass]="{ArabicCondensedLight: currentlang === 'ar'}"
                    class="galerietitle text-center ExtraCondensedThin"> <span
                        class="title">{{'museedesc.galerieheadertitle' | translate}}</span> </h4>
            </div>
        </div>

        <div class="row thumbnailsDiv" [ngClass]="{ArabicExtraCondensedThin: currentlang === 'ar'}">

            <div class="tumbwidth">
                <figure class="text-center">
                    <img class="fullwidth" src="assets/images/AVANT_APRES/AVANT_APRES_1/tmb.jpg"
                        (click)="openModel('popupOne' , 1)">
                    <figcaption>{{ 'museedesc.legends.1' | translate}}</figcaption>
                </figure>
            </div>
            <div class="tumbwidth">
                <figure class="text-center">
                    <img class="fullwidth" src="assets/images/AVANT_APRES/AVANT_APRES_2/tmb.jpg"
                        (click)="openModel('popupOne',2)">
                    <figcaption>{{ 'museedesc.legends.2' | translate}}</figcaption>
                </figure>
            </div>
            <div class="tumbwidth">
                <figure class="text-center">
                    <img class="fullwidth" src="assets/images/AVANT_APRES/AVANT_APRES_3/tmb.jpg"
                        (click)="openModel('popupOne' ,3)">
                    <figcaption> {{ 'museedesc.legends.3' | translate}}</figcaption>
                </figure>
            </div>
            <div class="tumbwidth">
                <figure class="text-center">
                    <img class="fullwidth" src="assets/images/AVANT_APRES/AVANT_APRES_4/tmb.jpg"
                        (click)="openModel('popupOne',4)">
                    <figcaption> {{ 'museedesc.legends.4' | translate}}</figcaption>
                </figure>
            </div>
            <div class="tumbwidth">
                <figure class="text-center">
                    <img class="fullwidth" src="assets/images/AVANT_APRES/AVANT_APRES_5/tmb.jpg"
                        (click)="openModel('popupOne' , 5)">
                    <figcaption> {{ 'museedesc.legends.5' | translate}}</figcaption>
                </figure>
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>