#bg {
	font-family: NotoSans ExtraCondensedLight;
}
.blocks {
	padding-top: 33vh;
}

.title > h1 {
	font-size: 2.3em;
}
.textRight {
	text-align: right;
}
.textLeft {
	text-align: left;
}

.blocks > .row > .col-lg-4{
	z-index: 2;
}

.title {
	height: 185px;
	color: rgb(249, 248, 243);
}

.border {
	content: '';
	display: inline;
	margin: 0px 8%;
	border: 2px solid rgb(249, 248, 243) !important;
}

.btn-langue {
	background-image: url(/assets/images/bg_language.png);
	background-size: cover;
	color: rgb(249, 248, 243) !important;
	padding: 32px 0px 10px 0px;
	font-size: 1.6em;
	width: 120px;
	height: 120px;
	outline: none !important;
	background-repeat: no-repeat;
	box-shadow: 0px 3px rgba(0, 0, 0, .075);
}

.btn-langue:active {
	margin-top: 5px !important;
	box-shadow: 0px 0px rgba(0, 0, 0, .075);
}
