<div id="bg">
  <div id="bg">
    <div class="container-fluid blocks">
      <div class="row">

        <div class="col-lg-4 textRight ArabicExtraCondensedLight">
          <div class="title">

            <h1>
              إختر لغتك
            </h1>
          </div>

          <div>
            <a class="btn btn-langue my-2 my-sm-0 " (click)="useLanguage('ar')" [routerLink]="['/musee-patri']">
              العربية
            </a>
          </div>

        </div>

        <div class="col-lg-4 text-center ">
          <div class="title">

            <h1>
              <span class="border"></span> Sélectionnez votre langue <span class="border"></span>
            </h1>
          </div>

          <div>
            <a class="btn btn-langue my-2 my-sm-0 " (click)="useLanguage('fr')" [routerLink]="['/musee-patri']">
              Français
            </a>
          </div>
        </div>

        <div class="col-lg-4 textLeft">
          <div class="title">

            <h1>
              Select your langauge
            </h1>
          </div>

          <div>
            <a class="btn btn-langue my-2 my-sm-0 " (click)="useLanguage('en')" [routerLink]="['/musee-patri']">
              English
            </a>
          </div>

        </div>
      </div>
    </div>

  </div>

  <app-footer></app-footer>