nav {
	padding: 2vh 2vw !important;
}

.fa {
	font-size: 2.6em;
}

.btnmargin:hover {
	border-color: rgb(249, 248, 243);
	color: rgb(249, 248, 243);
	background-color: rgb(41, 36, 36);
	transition: all 600ms;
}

.btnmargin:active {
	box-shadow: 0 0 0 .2rem rgb(249, 248, 243);
	color: rgb(41, 36, 36) !important;
	background-color: rgb(249, 248, 243);
	border-color: rgb(249, 248, 243);
}
.btn-outline-success.focus,
.btn-outline-success:focus {
	box-shadow: 0 0 0 .2rem rgb(249, 248, 243);
}

.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show > .btn-outline-success.dropdown-toggle {
	color: rgb(41, 36, 36);
	background-color: rgb(249, 248, 243);
	border-color: rgb(249, 248, 243);
}

.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgb(41, 36, 36);
}

.bg-nav {
	background-color: rgb(41, 36, 36) !important;
}

.mynav {
	z-index: 2;
	width: 100vw;
}

.btn-langue {
	background-image: url(/assets/images/bg_language.png);
	background-size: cover;
	color: rgb(249, 248, 243) !important;
	padding: 40px 0px 10px 0px;
	font-size: 1.2em;
	width: 120px;
	height: 120px;
}
.btnmargin {
	background-image: url(/assets/images/bg_language.png);
	background-repeat: no-repeat;
	border: none;
	background-size: cover;
	color: rgb(249, 248, 243);
	padding: 4px;
	font-size: 1em;
	margin: 0px 0px 0px 30px;
	width: 4vw;
	height: 4vw;
}

.active {
	background-image: none;
	background-color: rgb(249, 248, 243);
}