 <nav class="navbar navbar-expand-lg navbar-dark bg-nav  bg-light">
   <span class="row mynav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/musee-patri']" (click)="initializeGlobalState()">
    <i class="fa fa-home" aria-hidden="true"></i>
  </a>

  <div class="collapse navbar-collapse" >
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>

    <div class="form-inline my-2 my-lg-0 lang">
      <button [ngClass]="{ 'active':language === 'ar' }" class="btn btn-outline-success btnmargin my-2 my-sm-0 margin15 ArabicExtraCondensedLight" (click)="useLanguage('ar')">العربية</button>
      <button [ngClass]="{ 'active':language === 'fr' }" class="btn btn-outline-success btnmargin my-2 my-sm-0 margin15 CondensedLight" (click)="useLanguage('fr')">Français</button>
      <button [ngClass]="{ 'active':language === 'en' }" class="btn btn-outline-success btnmargin my-2 my-sm-0 margin15 CondensedLight" (click)="useLanguage('en')">English</button>
    </div>
  </div>
</span>
</nav>
