<span class="bg">
  <h1 class="text-center pad ExtraCondensedBold"
    [ngClass]="{ExtraCondensedLight: currentlang != 'ar' , ArabicExtraCondensedLight: currentlang == 'ar'   }">
    {{'museearchititle' | translate  | titlecase}} </h1>
  <div class="row marg">

    <div class="col-lg-6 coin_logo ">
      <a [routerLink]="['/musee-desc'] " (click)="setSection('Musee')" class="wih">
        <img class="imgwidt" src='{{ "assets/images/patrimoine_musee_" + currentlang.toUpperCase() + ".png" }}' />
      </a>
    </div>
    <div class="col-lg-6 patrimoine_architectural  ">
      <a [routerLink]="['/patrimoine-architectural']" (click)="setSection('Patrimoine')" class="wih">
        <img class="imgwidt1" src='{{ "assets/images/patrimoine_arch_" + currentlang.toUpperCase() + ".png" }}' />
      </a>
    </div>

  </div>

  <app-footer></app-footer>
</span>