body::before{
	background : transparent !important;
}

h1{
	text-transform: uppercase ;
}
.coin_logo , .patrimoine_architectural{
z-index: 2;
}

.bg {
	width: 100vw;
    height: 100vh;
    background: #292424;
    z-index: 3;
    display: block;
}

.pad {
	padding-top: 70px;
}

.marg {
	max-height: 100vh;
	height: calc(100% - 140px);
	width: 100vw;
}

.patrimoine_architectural,
.coin_logo {
	text-align: center;
	margin: auto;
}

.imgwidt {
	box-shadow: 2px 2px 12px 2px #00000073;
	height: 660px;
	width: 620px;
	margin-left: 100px;
}
.imgwidt1 {
	box-shadow: 2px 2px 12px 2px #00000073;
	height: 660px;
	width: 620px;
	margin-right: 100px;
}

.imgwidt1:active,
.imgwidt:active {
	margin-top: 20px !important;
	box-shadow: 2px 2px 12px 2px black;
}

.row {
	margin-right: -15px !important;
	margin-left: -15px !important;
}
