<div class="saveScreen" [style.display]="showSaveScreen ? 'block' : 'none'">
    <!-- <div class="saveScreen" > -->
    <div class="heroImg">
        <img src="assets/images/coin_pattern_bg1.png">
        <div class="hand">
            <img src="assets/images/hand_touch.png" alt="">
        </div>

        <div class="titlesDiv">
            <h1 class="title1 ArabicExtraCondensedLight active">إلمس للبدء</h1>
            <h1 class="title2 ExtraCondensedLight">Touch to start</h1>
            <h1 class="title3 ExtraCondensedLight">Toucher pour commencer</h1>
        </div>

    </div>
</div>


<router-outlet></router-outlet>