.saveScreen {
	width: 100vw;
	height: 100vh;
	background: #252525;
	z-index: 999;
	position: fixed;
	text-align: center;
}

.heroImg {
	position: absolute;
	height: 600px;
	left: 35%;
	top: 10%;
}

.heroImg > img {
	height: 100%;
}

.titlesDiv {
	padding: 200px 0px 25px 0px;
	color: rgb(249, 248, 243);
	width: 650px;
}

.titlesDiv > h1 {
	display: none;
	animation: reverseflash ease 1.5s;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.titlesDiv > .active {
	display: block;
	animation: flash ease 2s;
}

.hand {
	position: absolute;
	bottom: -30%;
	left: 40.6%;
}

.hand > img {
	width: 60%;
}

@keyframes flash {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes reverseflash {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
