<ngx-smart-modal #popupOne [identifier]="'popupOne'"    (onCloseFinished)="close()" (onDismissFinished)="close()"(onDataAdded)="data()">
  
 
    
  <div class="container">
    <div id="comparison">
      <figure  [style.background-image]="'url('+urlbefore+')'" >
        <div id="handle" #handle name="slider"  [style.left.%]="ranger.value" ></div>
        <div id="divisor" #divisor name="divisor"  [style.width.%]="ranger.value"  [style.background-image]="'url('+urlafter+')'"  ></div>
      </figure>
      <input  type="range" min="0" max="100" #ranger class="range" (input)="ranger.value"  >
    </div>
   </div>

    
 
    
    
  </ngx-smart-modal>
  
  