.container {
	max-width: 760px;
	padding-top: 70px;
}

#comparison {
	width: 67vw;
	margin-left: -38%;
	padding-bottom: 100%;
	overflow: hidden;
	position: relative;
}

figure {
	position: absolute;
	background-size: cover;
	font-size: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	background-attachment: fixed;
}

#divisor {
	background-size: 100%;
	position: absolute;
	width: 50%;
	box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
	bottom: 0;
	height: 100%;
	background-attachment: fixed;
}
#divisor::before,
#divisor::after {
	content: "";
	position: absolute;
	right: -2px;
	width: 4px;
	height: calc(50% - 25px);
	background: white;
	z-index: 3;
}
#divisor::before {
	top: 0;
	box-shadow: 0 -3px 8px 1px rgba(0, 0, 0, 0.3);
}
#divisor::after {
	bottom: 0;
	box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.3);
}

#handle {
	position: absolute;
	height: 50px;
	width: 50px;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	z-index: 1;
}
#handle::before,
#handle::after {
	content: "";
	width: 0;
	height: 0;
	border: 6px inset transparent;
	position: absolute;
	top: 50%;
	margin-top: -6px;
}
#handle::before {
	border-right: 6px solid white;
	left: 50%;
	margin-left: -17px;
}
#handle::after {
	border-left: 6px solid white;
	right: 50%;
	margin-right: -17px;
}

input[type=range] {
	-webkit-appearance: none;
	-moz-appearance: none;
	position: absolute;
	top: 50%;
	left: -25px;
	transform: translateY(-50%);
	background-color: transparent;
	width: calc(100% + 50px);
	z-index: 2;
}
input[type=range]:focus,
input[type=range]:active {
	border: none;
	outline: none;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: transparent;
	border: 4px solid white;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
}

input[type=range]::-moz-range-track {
	-moz-appearance: none;
	height: 15px;
	width: 100%;
	background-color: transparent;
	position: relative;
	outline: none;
}
