<div class="patri-archi">

  <app-navbar (Currentlang)="getCurrentlang($event)"></app-navbar>

  <div class="margin">

    <div class="overlay" (click)="close()"></div>
    <div class="row">


      <div class="map">
        <figure>
          <img class="mapmaroc" src="assets/images/mapMaroc.png">
          <div [ngStyle]="setMyStyles()" class="pinMap animated   slow bounce">{{agence}}</div>
        </figure>

      </div>

      <!-- The Modal -->
      <div [ngClass]="{changedirection: currentlang === 'ar'}"
        [style.display]="isClicked != null ? 'block' : '' && isClicked == null ? 'none' : ''"
        [class.fadeOutRight]="!isClicked" [class.fadeInRight]="isClicked" (click)="toggleclass()" #myModal
        class="modal animated ">
        <!-- Modal content -->

        <div class="modal-content">
          <span (click)="close()" class="close">&times;</span>
          <ngb-carousel *ngIf="images" [showNavigationIndicators]="showNavigationIndicators">
            <ng-template class="ngbSlide" ngbSlide *ngFor="let image of imgs;">
              <h1 [ngClass]="{ArabicExtraCondensedBold: currentlang === 'ar' ,marg: currentlang === 'ar' }"
                class="tit ExtraCondensedBold"> {{'agences.'+val | translate}} </h1>
              <img class="slideimg" [src]="image[1]">
              <div class="carousel-caption">
                <!-- <h3>No mouse navigation</h3>
                <p>This carousel hides navigation arrows and indicators.</p> -->
              </div>
            </ng-template>
          </ngb-carousel>
          <div [ngClass]="{ArabicExtraCondensedLight: currentlang === 'ar'}" class="pad ExtraCondensedLight">
            <p class="carrousel-legend">{{'carouseldesc.'+val+'.paragraphe1' | translate}}</p>
          </div>
          <div class="pad cls ExtraCondensedLight">
            <button (click)="close()" class="btn btn-primary arraw">
              <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="Modelfooter">
          <img src="assets/images/footerLogo.png" class="Modellogo">
        </div>
      </div>





      <div class="col-md-8 offset-md-4 city" [ngClass]="{ArabicExtraCondensedLight: currentlang === 'ar'}">
        <div class="row">
          <div class="col-md-2 offset-md-2">
            <a (click)="imageclicked(1)">
              <img class="tumbimg" src="{{agences[0].tmb}}">
              <div class="imgcaption">{{'agences.1' | translate}}</div>
            </a>
          </div>
          <div class="col-md-2">
            <a (click)="imageclicked(2)">
              <img class="tumbimg" src="{{agences[1].tmb}}">
              <div class="imgcaption">{{'agences.2' | translate}}</div>
            </a>
          </div>
          <div class="col-md-2">
            <a (click)="imageclicked(3)">
              <img class="tumbimg" src="{{agences[2].tmb}}">
              <div class="imgcaption">{{'agences.3' | translate}}</div>
            </a>
          </div>
          <div class="col-md-2">
            <a (click)="imageclicked(4)">
              <img class="tumbimg" src="{{agences[3].tmb}}">
              <div class="imgcaption">{{'agences.4' | translate}}</div>
            </a>
          </div>
          <div class="col-md-2">
            <a (click)="imageclicked(5)">
              <img class="tumbimg" src="{{agences[4].tmb}}">
              <div class="imgcaption">{{'agences.5' | translate}}</div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 offset-md-2">
            <a (click)="imageclicked(6)">
              <img class="tumbimg" src="{{agences[5].tmb}}">
              <div class="imgcaption">{{'agences.6' | translate}}</div>
            </a>
          </div>
          <div class="col-md-2">
            <a (click)="imageclicked(7)">
              <img class="tumbimg" src="{{agences[6].tmb}}">
              <div class="imgcaption">{{'agences.7' | translate}}</div>
            </a>
          </div>
          <div class="col-md-2">
            <a (click)="imageclicked(8)">
              <img class="tumbimg" src="{{agences[7].tmb}}">
              <div class="imgcaption">{{'agences.8' | translate}}</div>
            </a>
          </div>
          <div class="col-md-2">
            <a (click)="imageclicked(9)">
              <img class="tumbimg" src="{{agences[8].tmb}}">
              <div class="imgcaption">{{'agences.9' | translate}}</div>
            </a>
          </div>
          <div class="col-md-2">
            <a (click)="imageclicked(10)">
              <img class="tumbimg" src="{{agences[9].tmb}}">
              <div class="imgcaption">{{'agences.10' | translate}}</div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 offset-md-2">
            <a (click)="imageclicked(11)">
              <img class="tumbimg" src="{{agences[10].tmb}}">
              <div class="imgcaption">{{'agences.11' | translate}}</div>
            </a>
          </div>
          <div class="col-md-2">
            <a (click)="imageclicked(12)">
              <img class="tumbimg" src="{{agences[11].tmb}}">
              <div class="imgcaption">{{'agences.12' | translate}}</div>
            </a>
          </div>
          <div class="col-md-2">
            <a (click)="imageclicked(13)">
              <img class="tumbimg" src="{{agences[12].tmb}}">
              <div class="imgcaption">{{'agences.13' | translate}}</div>
            </a>
          </div>
          <div class="col-md-2">
            <a (click)="imageclicked(14)">
              <img class="tumbimg" src="{{agences[13].tmb}}">
              <div class="imgcaption">{{'agences.14' | translate}}</div>
            </a>
          </div>
          <div class="col-md-2">
            <a (click)="imageclicked(15)">
              <img class="tumbimg" src="{{agences[14].tmb}}">
              <div class="imgcaption">{{'agences.15' | translate}}</div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 offset-md-2">
            <a (click)="imageclicked(16)">
              <img class="tumbimg" src="{{agences[15].tmb}}">
              <div class="imgcaption">{{'agences.16' | translate}}</div>
            </a>
          </div>
          <div class="col-md-2">
            <a (click)="imageclicked(17)">
              <img class="tumbimg" src="{{agences[16].tmb}}">
              <div class="imgcaption">{{'agences.17' | translate}}</div>
            </a>
          </div>
          <div class="col-md-2">
            <a (click)="imageclicked(18)">
              <img class="tumbimg" src="{{agences[17].tmb}}">
              <div class="imgcaption">{{'agences.18' | translate}}</div>
            </a>
          </div>
          <div class="col-md-2">
            <a (click)="imageclicked(19)">
              <img class="tumbimg" src="{{agences[18].tmb}}">
              <div class="imgcaption">{{'agences.19' | translate}}</div>
            </a>
          </div>
          <div class="col-md-2">
            <a (click)="imageclicked(20)">
              <img class="tumbimg" src="{{agences[19].tmb}}">
              <div class="imgcaption">{{'agences.20' | translate}}</div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 offset-md-3">
            <a (click)="imageclicked(21)">
              <img class="tumbimg" src="{{agences[20].tmb}}">
              <div class="imgcaption">{{'agences.21' | translate}}</div>
            </a>
          </div>
          <div class="col-md-2">
            <a (click)="imageclicked(22)">
              <img class="tumbimg" src="{{agences[21].tmb}}">
              <div class="imgcaption">{{'agences.22' | translate}}</div>
            </a>
          </div>
          <div class="col-md-2">
            <a (click)="imageclicked(23)">
              <img class="tumbimg" src="{{agences[22].tmb}}">
              <div class="imgcaption">{{'agences.23' | translate}}</div>
            </a>
          </div>
          <div class="col-md-2">
            <a (click)="imageclicked(24)">
              <img class="tumbimg" src="{{agences[23].tmb}}">
              <div class="imgcaption">{{'agences.24' | translate}}</div>
            </a>
          </div>
        </div>
      </div>



    </div>

  </div>
</div>
<app-footer></app-footer>