.margin {
	margin: 30px;
}
.tumbimg {
	width: auto;
	margin: 0;
	position: absolute;
	height: 100%;
}

.city,
.map {
	z-index: 10;
}

.city {
	margin-top: 1.5%;
	position: relative;
}

.city a {
	display: block;
	height: 120px;
	overflow: hidden;
	position: relative;
	margin-bottom: 40px;
}
.map img {
	width: 100%;
}

.map {
	position: absolute;
    width: 50%;
    left: -3.5%;
    bottom: 2%;
}
.pinMap::after {
	position: absolute;
	content: '';
	width: 20px;
	height: 20px;
	border-radius: 50% 50% 50% 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	border: 4px solid #815374;
	top: 25px;
	left: 4px;
	margin-top: 10px;
    background: #f4efe1;
}
.pinMap {
	position: absolute;
	visibility: hidden;
	background: #292424;
}

.imgcaption {
	background: rgb(249, 248, 243);
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: 0;
	font-size: .8rem;
	color: rgb(41, 36, 36);
	padding: 4px 0;
}

.modal {
	display: none;
	z-index: 100;
	right: 0;
	top: 0;
	width: 55%;
	height: 100%;
	overflow: initial;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	margin-left: calc(100% - 55%);
}

.modal-content {
	background-color: #f8f9fa;
	margin: auto;
	padding: 5px 30px 30px 30px;
	border: none;
	width: 100%;
	position: relative;
	height: 100%;
	border-radius: 0px !important;
	border: none !important;
}

.close {
	display: none;
	float: right;
	font-size: 35px;
	font-weight: bold;
	right: 10px;
	top: 2px;
	position: absolute;
	color: rgb(41, 36, 36);
}
.close:hover {
	cursor: pointer;
}

.overlay {
	z-index: 11;
	bottom: 0;
	left: 0;
	width: 45%;
	height: 90%;
	top: auto;
	background-color: transparent;
}
.slideimg {
	width: inherit;
}
.pad {
	padding-top: 90px;
	color: black;
}
.tit {
	color: black;
}
.btn {
	background: #292525 !important;
	width: 2.4vw !important;
	outline: none;
	box-shadow: none;
	border: none;
	position: absolute;
	top: 36px;
	right: 33px;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	border-radius: 0;
	color: #f8f9fa;
	text-align: center;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
	box-shadow: none;
}
.marg {
	margin: 0px 55px 30px 30px;
}

.carrousel-legend{
	font-size: 1.3em;
}

.Modellogo {
    width: 15%;
    left: 43.5%;
    position: absolute;
    bottom: 20px;
}