/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~ngx-smart-modal/ngx-smart-modal";

/* fonts latin */
@font-face {
	font-family: 'NotoSans CondensedLight';
	src: url('assets/fonts/NotoSans-CondensedLight.ttf');
}
@font-face {
	font-family: 'NotoSans ExtraCondensedBlack';
	src: url('assets/fonts/NotoSans-ExtraCondensedBlack.ttf');
}
@font-face {
	font-family: 'NotoSans ExtraCondensedBold';
	src: url('assets/fonts/NotoSans-ExtraCondensedBold.ttf');
}
@font-face {
	font-family: 'NotoSans ExtraCondensedLight';
	src: url('assets/fonts/NotoSans-ExtraCondensedLight.ttf');
}
@font-face {
	font-family: 'NotoSans ExtraCondensedLightItalic';
	src: url('assets/fonts/NotoSans-ExtraCondensedLightItalic.ttf');
}

@font-face {
	font-family: 'NotoSans ExtraCondensedSemiBold';
	src: url('assets/fonts/NotoSans-ExtraCondensedSemiBold.ttf');
}

@font-face {
	font-family: 'NotoSans ExtraCondensedThin';
	src: url('assets/fonts/NotoSans-ExtraCondensedThin.ttf');
}
@font-face {
	font-family: 'NotoSans ExtraCondensedThinItalic';
	src: url('assets/fonts/NotoSans-ExtraCondensedThinItalic.ttf');
}

/* arabic fonts */
@font-face {
	font-family: 'NotoSansArabic CondensedLight';
	src: url('assets/fonts/NotoSansArabic-CondensedLight.ttf');
}

@font-face {
	font-family: 'NotoSansArabic ExtraCondensedBlack';
	src: url('assets/fonts/NotoSansArabic-ExtraCondensedBlack.ttf');
}

@font-face {
	font-family: 'NotoSansArabic ExtraCondensedBold';
	src: url('assets/fonts/NotoSansArabic-ExtraCondensedBold.ttf');
}

@font-face {
	font-family: 'NotoSansArabic ExtraCondensedLight';
	src: url('assets/fonts/NotoSansArabic-ExtraCondensedLight.ttf');
}

@font-face {
	font-family: 'NotoSansArabic ExtraCondensedThin';
	src: url('assets/fonts/NotoSansArabic-ExtraCondensedThin.ttf');
}

body {
	/* rgb(249,248,243) ==> creme ;  rgb(41,36,36)  ==> black */
	background-color: rgb(41, 36, 36);
	color: rgb(249, 248, 243);
	width: 100vw;
	height: 100vh;
}

body:before {
    display: block;
    content: '';
    background-image: url(./assets/images/coin_pattern_bg1.png),url(./assets/images/coin_pattern_bg2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -350px -350px,1000px 400px;
    opacity: .15;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.delay-01{
	-webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.musee-patri-bg:before {
	background: transparent;
    z-index: -2;
}

.musee-archi-bg:before {
    display: block;
    content: '';
    background-image: url(./assets/images/coin_pattern_bg2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 1000px 400px;
    opacity: .15;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

ol.carousel-indicators {
    bottom: -90px !important;
}




/* NgxModel Style */
.leftslide {
	background-color: #f8f9fa;
	margin: auto;
	padding: 110px 30px 30px 30px;
	border: none;
	width: 100%;
	position: relative;
	height: 100%;
}

.nsm-content {
	background-color: transparent !important;
	max-width: 73% !important;
	height: 100% !important;
	text-align: center !important;
	margin: 5rem 0rem 0rem 13rem !important;
	border-radius: 7px;
}

.nsm-dialog {
	max-width: 100% !important;
	height: 80vh !important;
}

.nsm-body {
	max-height: -webkit-fill-available;
}

.overlay.nsm-overlay-open {
	background-color: rgba(0, 0, 0, .95) !important;
}

.nsm-dialog-btn-close {
	top: 71px;
	right: 37px;
	border-radius: 50%;
	background-color: #fff;
	width: 38px;
	height: 38px;
	padding: 0;
	line-height: 0.1;
}

.carousel-indicators li {
    width: 30px !important;
    height: 30px !important;
    background-color: #000 !important;
    margin-right: 5px !important;
    margin-left: 5px !important;
}



/* Arabic font Class  */
.ArabicExtraCondensedLight {
	font-family: NotoSansArabic ExtraCondensedLight !important;
}

.ArabicExtraCondensedThin {
	font-family: NotoSansArabic ExtraCondensedThin !important;
}
.ArabicExtraCondensedBold {
	font-family: NotoSansArabic ExtraCondensedBold !important;
}
.ArabicExtraCondensedBlack {
	font-family: NotoSansArabic ExtraCondensedBlack !important;
}
.ArabicCondensedLight {
	font-family: NotoSansArabic CondensedLight !important;
}

/* Latin font Class */
.CondensedLight {
	font-family: NotoSans CondensedLight;
}
.ExtraCondensedBlack {
	font-family: NotoSans ExtraCondensedBlack;
}
.ExtraCondensedBold {
	font-family: NotoSans ExtraCondensedBold;
}
.ExtraCondensedLight {
	font-family: NotoSans ExtraCondensedLight;
}
.ExtraCondensedLightItalic {
	font-family: NotoSans ExtraCondensedLightItalic;
}

.ExtraCondensedSemiBold {
	font-family: NotoSans ExtraCondensedSemiBold;
}

.ExtraCondensedThin {
	font-family: NotoSans ExtraCondensedThin;
}
.ExtraCondensedThinItalic {
	font-family: NotoSans ExtraCondensedThinItalic;
}

.carousel-inner {
	margin-top: 25px !important;
}
.changedirection {
	direction: rtl !important;
	text-align: right !important;
}
.modal-content > ngb-carousel {
	outline: none !important;
}

@keyframes rotation {
	0% {
		transform: rotate(0);
	}

	50% {
		transform: rotate(45deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

@keyframes move {
	0% {
		left: -15%;
		bottom: -15%;
	}
	100% {
		left: 78%;
		bottom: 55%;
	}
}
